.monsterCard div.ui.active.indicating.progress .bar::after {
    display: none;
}

#natural-20-app {
    margin: 20px;
}

#add-card-form {
    margin: 2rem auto;
}

#add-card-form .ui.checkbox {
    display: inline-flex;
    align-self: center;
    position: relative;
    top: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem; 
}

.ui.header>.image+.content, .ui.header>img+.content {
    padding-right: .75rem
}

@media only screen and (max-width: 768px) {
    #add-card-form .field {
        margin: 10px 0;
    }

    #battle-cards {
        justify-content: center;
    }
}

@media only screen and (max-width: 436px) {
    #sword-right {
        display: none;
    }
}