.monsterCard div.ui.active.indicating.progress .bar::after {
    display: none;
}

#add-card-form {
    margin: 2rem auto;
}

#add-card-form .ui.checkbox {
    display: inline-flex;
    align-self: center;
    position: relative;
    top: 0.7rem;
    margin-left: 1rem;
    margin-right: 1rem; 
}

.ui.header>.image+.content, .ui.header>img+.content {
    padding-right: .75rem
}

.monster-icon {
    width: auto;
    margin: 0 .75em 0 0;
    line-height: 1;
    vertical-align: middle;
    font-size: 1.5em;
}

#delete-all-button {
    margin-top: 4rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 768px) {
    #add-card-form .field {
        margin: 10px 0;
    }

    #battle-cards {
        justify-content: center;
    }
}

@media only screen and (max-width: 436px) {
    #sword-right {
        display: none;
    }
}